name: "Test Setup-Python"

on:
  workflow_dispatch:
  pull_request:
    paths:
      - setup-python/**
      - .github/workflows/test_setup_python.yaml
  push:
    paths:
      - setup-python/**
      - .github/workflows/test_setup_python.yaml

jobs:
  # The no_dev and dev tests are deprecated and will be removed in v2
  no_dev:
    name: Test No Developer Dependencies
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: ./setup-python
        with:
          dev: false
          python_version: '3.10'
          working_dir: setup-python/tests/
          use_cache: false  # Disable caching to ensure we test the installation logic

      - name: Test Non-Developer Dependency
        run: mypy -V

      - name: Test Developer Dependency
        run: |
          if command -v black; then
            echo "Black was installed in an incorrect context."
            exit 1
          fi

  dev:
    name: Test Developer Dependencies
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: ./setup-python
        with:
          dev: true
          python_version: '3.10'
          working_dir: setup-python/tests/
          use_cache: false  # Disable caching to ensure we test the installation logic

      - name: Test Non-Developer Dependency
        run: mypy -V

      - name: Test Developer Dependency
        id: black
        run: |
          black --version
          flake8 --version

  cache_hit_pre:
    name: Setup Cache
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: ./setup-python
        with:
          install_args: "--without dev"
          python_version: '3.10'
          working_dir: setup-python/tests/
          use_cache: false

  cache_hit:
    name: Test Cache Hit
    runs-on: ubuntu-latest
    needs: cache_hit_pre

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        id: python
        uses: ./setup-python
        with:
          install_args: "--without dev"
          python_version: '3.10'
          working_dir: setup-python/tests/

      - name: Check For Cache hit
        run: |
          if [ "${{ steps.python.outputs.cache-hit }}" != "true" ]; then
            echo "No cache-hit when expected"
            exit 1
          else
            echo "Cache found"
            exit 0
          fi

      - name: Check Cache Content
        run: |
          mypy -V

          if command -v black; then
            echo "Black was installed in an incorrect context."
            exit 1
          fi

  install_args:
    name: Test Optional Install Args
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: ./setup-python
        with:
          python_version: '3.10'
          working_dir: setup-python/tests/
          use_cache: false  # Disable caching to ensure we test the installation logic
          install_args: "-E extras"

      - name: Test Optional Dependency
        run: python -c "import six"

  versions:
    name: Test Different Poetry Versions
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - "poetry==1.1.*"
          - "poetry==1.2.*"
          - "git+https://github.com/python-poetry/poetry.git@master"

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: ./setup-python
        with:
          python_version: '3.10'
          poetry_version: ${{ matrix.version }}
          working_dir: setup-python/tests/
          use_cache: false

      - name: Check Installation
        run: poetry --version
